.ld-sp-img {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.add_to_cart_button {
  display: block;
  padding: 8px 15px;
  position: absolute;
  left: 17px;
  right: 17px;
  bottom: 15px;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.185em;
  line-height: 1.5em;
  font-weight: 700;
  text-align: center;
  color: #fff;
  white-space: normal;
  -webkit-transform: translateY(15%);
  transform: translateY(15%);
  -webkit-transition-property: background, opacity, -webkit-transform,
    -webkit-transform-origin;
  transition-property: background, opacity, -webkit-transform,
    -webkit-transform-origin;
  transition-property: transform, background, opacity, transform-origin;
  transition-property: transform, background, opacity, transform-origin,
    -webkit-transform, -webkit-transform-origin;
  -webkit-transition-duration: 0.45s;
  transition-duration: 0.45s;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0;
}

.add_to_cart_button:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.ld-sp:hover .add_to_cart_button {
  -webkit-transform: translateY(0) scale(1);
  transform: translateY(0) scale(1);
  opacity: 1;
}

.ld-sp-info {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.6875em;
}

.ld-sp-info h3 {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.6875em;
  font-weight: normal;
}

.ld-sp-info h3 a {
  color: #000;
}

.ld-sp-price {
  color: #191919;
  margin: 0;
}

@media (max-width: 996px) {
  .d-none.d-lg-block {
    display: none;
  }
}
.hero.bg-cover {
  background-image: url(../img/hero/tidan_hero_mobile.jpg);
  height: 80vh;
}

@media (min-width: 996px) {
  .hero.bg-cover {
    background-image: url(../img/hero/tidan_hero.jpg);
  }
}

.btn-icon-solid .btn-icon.invert {
  background-color: #fff;
  color: var(--color-primary);
}

.btn-icon-circle.btn-icon-ripple .btn-icon.invert:before {
  border: 1px solid #fff;
}
